body {
    background-color: #c29f40;
}

img{
    height: 500px;
    width: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: #fff;
}

span{
    font-size: 5em;
}

button{
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: gray;
    color: #fff;
    text-transform: uppercase;
}

button:hover{
    color: black; 
    border: 2px solid #008CBA;  
}